services:
  api:
    build: ./api
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: app
      DB_PASS: app
      DB_NAME: app
      PORT: "8080"
    depends_on:
      db:
        condition: service_healthy
    ports:
    - "8080:8080"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/health"]
      interval: 5s
      timeout: 3s
      retries: 10
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
    - "5432:5432" # optional expose for local tools
    volumes:
    - pgdata:/var/lib/postgresql/data
    - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 3s
      retries: 10
  pgadmin:
    image: dpage/pgadmin4
    ports:
    - 5050:80
    environment:
      # Required by pgAdmin
      PGADMIN_DEFAULT_EMAIL: demo@example.com
      PGADMIN_DEFAULT_PASSWORD: secret

      # Don't require the user to login
      PGADMIN_CONFIG_SERVER_MODE: 'False'

      # Don't require a "master" password after logging in
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
    - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
    - 9090:9090
    restart: unless-stopped
    volumes:
    - ./prometheus:/etc/prometheus
    - prom_data:/prometheus
    depends_on:
    - api
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
    - 3000:3000
    restart: unless-stopped
    environment:
    - GF_SECURITY_ADMIN_USER=admin
    - GF_SECURITY_ADMIN_PASSWORD=grafana
    volumes:
    - ./grafana/provisioning:/etc/grafana/provisioning
    depends_on:
    - prometheus
volumes:
  pgdata:
  prom_data: